/* ========================= google fonts ========================= */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
}

body {
  overflow: hidden;
}

.mariogamecontainer {
  background-image: url("images/mariobg.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.gameoverindicator {
  font-size: 4em;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: crimson;
  display: none;
}

.player {
  background-image: url("images/player.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 7em;
  width: 7em;
  position: absolute;
  cursor: pointer;
  bottom: 4.6rem;
  transition: all 300ms ease;
}

.dragon {
  background-image: url("images/dragon.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 8em;
  width: 12em;
  position: absolute;
  cursor: pointer;
  bottom: 5rem;
  right: 4vw;
  transition: all 300ms ease;
}

.instructionscontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  gap: 2rem;
  position: absolute;
  right: 1vw;
}

.playerleftface {
  transform: rotateY(200deg);
}

/* ======================== player jump animation ======================== */
@keyframes playerjump {
  0% {
    bottom: 4.6rem;
  }
  50% {
    bottom: 19rem;
  }
  100% {
    bottom: 4.6rem;
  }
}

.playerjump {
  animation: playerjump 0.5s linear;
}

/* ======================== dragon comes infinite animation ======================== */
@keyframes dragonmove {
  0% {
    right: -16vw;
  }
  100% {
    right: 100vw;
  }
}

.dragoncomes {
  animation: dragonmove 2s linear infinite;
}
